// Color palette

$color-text-dark: #394664;
$color-text-light: #FFFFFF;
$color-light: #F7F7F8;
$color-lightest: #FFFFFF;
$color-primary: #52658F;
$color-primary-dark: #415072;
$color-primary-darker: #333A56;
$color-primary-darkest: #202839;
$color-primary-light: #7483A5;

// Bootstrap overrides

$primary: $color-primary;
$body-bg: $color-light;
$card-bg: $color-lightest;
$body-color: $color-text-dark;
$font-family-base: 'Roboto', sans-serif;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px
);
